<!-- http://twitter.github.com/bootstrap/examples/marketing-narrow.html -->
<div id="container-alert"></div>
<article id="content" class="container">
  <div id="container-content"></div>
  <div id="container-footer"></div>
</article> <!-- /container -->