<div id="container-nav"></div>
<article class="container">
  <div id="content">
    <div id="todoapp">
      <header id="header">
        <h1>todos</h1>
        <div id="container-form"></div>
      </header>
      <section id="main">
        <div id="container-toggle"></div>
        <div id="container-list"></div>
      </section>
      <footer id="container-stats"></footer>
    </div>
  </div>
  <footer id="info">
    <p>Double-click to edit a todo</p>
    <p>Written by <a href="http://addyosmani.github.com/todomvc/">Addy Osmani</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>
</article>