<div id="container-nav"></div>
<div id="container-alert"></div>
<article id="content" class="container">
  <div class="row">
    <div class="span3">
      <div id="container-menu"></div>
    </div> <!--/span-->
    <div class="span9">
      <div id="container-content"></div>
    </div><!--/span-->
  </div><!--/row-->
  <div id="container-footer"></div>
</article> <!-- /container -->