<h1>Deactivate Your Account</h1>
<p>We're so sorry it's come to this!</p>

<p>If you deactivate this account, your profile and pins will no longer be available on Pinterest. Links to Facebook or Twitter accounts will also be removed.</p><!-- TODO: Edit this -->

<p>You should only deactivate your account if you will no longer use Pinterest. Deactivation will not free up your username or email address for use on another Pinterest account. If you want to continue using Pinterest, make changes to the settings on this page instead of deactivating.</p><!-- TODO: Edit this -->

{{{render_form formDeactivate}}}