<h2>Thanks! Please check your email for instructions on how to reset your password.</h2>
<p>If you don't receive instructions within a minute or two, check your email's spam and junk filters, or try <a href="#accounts/password/reset/">resending your request</a>.</p>