<div>
  <h1>Contact Us</h1>
  <p>Thank you for visiting out little slice of the internet. If you would like to get into contact with our team simply fill out the nifty form below. Cheers!</p>
</div>
<div>
  <div class="row">
    <section class="span6">
      {{{ render_form form }}}
    </section><!-- end left -->
    <section class="span6">
      <div class="well">
        <!--<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Toronto,+ON,+Canada&amp;aq=0&amp;oq=toronto,+ca&amp;sll=37.0625,-95.677068&amp;sspn=54.401733,114.169922&amp;ie=UTF8&amp;hq=&amp;hnear=Toronto,+Toronto+Division,+Ontario,+Canada&amp;t=m&amp;z=10&amp;ll=43.653226,-79.383184&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Toronto,+ON,+Canada&amp;aq=0&amp;oq=toronto,+ca&amp;sll=37.0625,-95.677068&amp;sspn=54.401733,114.169922&amp;ie=UTF8&amp;hq=&amp;hnear=Toronto,+Toronto+Division,+Ontario,+Canada&amp;t=m&amp;z=10&amp;ll=43.653226,-79.383184" style="color:#0000FF;text-align:left">View Larger Map</a></small>-->
      </div><!--end well -->
    </section><!--end right -->
  </div><!--end row -->
</div>