/*------------------------------------------------------------------
Alert Module Rules
https://smacss.com/book/type-module
-------------------------------------------------------------------*/
/* Top bar style alerts */
.alert {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    text-align: center;
    cursor: hand;
    cursor: pointer;

    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}