/*------------------------------------------------------------------
Two Column Layout & State Rules
https://smacss.com/book/type-layout
-------------------------------------------------------------------*/
.l-twocolumn article#content {
    padding-top: 60px;
}

.l-twocolumn.has-alerts article#content {
    margin-top: 41px;
}