/*------------------------------------------------------------------
One Column Layout & State Rules
https://smacss.com/book/type-layout
-------------------------------------------------------------------*/
.l-onecolumn article#content {
    padding-top: 60px;
}

.l-onecolumn.has-alerts article#content {
    margin-top: 41px;
}